.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d9d7d7;
  }
  
  .reg-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    width: 25%;
    height: 50vh;
  }
  
  .formgroup{
    margin : 2.5vh 5%;
  }

  input[type=email]{
    background-image: url("email.png");
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 5px;
    padding-left: 30px;
}
  input[type=search]{
    background-image: url("search.png");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 5px;
    padding-left: 30px;
    background-color: #efeff0;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

input[type=password]{
    background-image: url("password.png");
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 5px;
    padding-left: 30px;
}
  
  label{
    display: block;
    margin-bottom: 7px;
    color: rgb(43 51 58);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .inp{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #898a8b;
    border-radius: 7px;
    box-sizing: border-box;
  }
  
  /* .logo{
    width: 25%;
    height: 10vh;
    margin-bottom: 2vh;
  }
  
  .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 5px;
  } */
  
  .btn-submit{
    border-radius: 7px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    height: 45px;
    background-color: #ecb159;
    color: rgb(255 255 255);
    border: none;
    width: 90%;
    &:hover{
        background-color: #d19524;
    }
  }
  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }

  
  @media (max-width: 1068px){
    .reg-form{
        width: 40%;
        padding: 10px;
    }
    .logo{
      width: 20%;
    }
  }
  
  @media (max-width:860px){
    .logo{
      width: 22%;
    }
  }
  
  @media (max-width: 600px){
    .reg-form{
        width: 90%;
        padding: 10px;
    }
    .logo{
      width: 30%;
    }
  }
  
  @media screen and (max-height: 800px){
    .reg-form{
      margin:2vh 0;
      overflow-y: scroll;
    }
  }

  